In [14]:
import pandas as pd
import operator
import re

doc = pd.read_csv('/home/rick/Downloads/Coosto_berichten.csv', sep=';')

doc[:10]

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>zoekopdracht</th>
      <th>datum</th>
      <th>url</th>
      <th>sentiment</th>
      <th>type</th>
      <th>discussielengte</th>
      <th>views</th>
      <th>auteur</th>
      <th>volgers</th>
      <th>invloed</th>
      <th>GPS breedtegraad</th>
      <th>GPS lengtegraad</th>
      <th>bericht tekst</th>
      <th>type bron</th>
      <th>titel</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>ziek src:twitter</td>
      <td>2017-09-14 10:26</td>
      <td>https://twitter.com/dekoran1/status/9082454469...</td>
      <td>NaN</td>
      <td>post</td>
      <td>NaN</td>
      <td>11369.0</td>
      <td>dekoran1</td>
      <td>11369</td>
      <td>131.1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>@BLIKOPENER333</td>
      <td>twitter</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>ziek src:twitter</td>
      <td>2017-09-14 10:25</td>
      <td>https://twitter.com/BLIKOPENER333/status/90824...</td>
      <td>-</td>
      <td>comment</td>
      <td>2.0</td>
      <td>17592.0</td>
      <td>BLIKOPENER333</td>
      <td>17592</td>
      <td>9.1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>RT @tikkierechts: Ziek of niet dit is echt een...</td>
      <td>twitter</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>ziek src:twitter</td>
      <td>2017-09-14 10:24</td>
      <td>https://twitter.com/Jesske3003/status/90824496...</td>
      <td>-</td>
      <td>comment</td>
      <td>19.0</td>
      <td>NaN</td>
      <td>Jesske3003</td>
      <td>856</td>
      <td>4.5</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>@tinamieneke @DockxGunter Ja en elkaar wat zie...</td>
      <td>twitter</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>ziek src:twitter</td>
      <td>2017-09-14 10:23</td>
      <td>https://twitter.com/tinamieneke/status/9082446...</td>
      <td>-</td>
      <td>comment</td>
      <td>19.0</td>
      <td>NaN</td>
      <td>tinamieneke</td>
      <td>1928</td>
      <td>25.7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>@DockxGunter @Jesske3003 Ik vind dat niet oké,...</td>
      <td>twitter</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>ziek src:twitter</td>
      <td>2017-09-14 10:23</td>
      <td>https://twitter.com/BeQuanFRIvoedin/status/908...</td>
      <td>-</td>
      <td>post</td>
      <td>NaN</td>
      <td>38.0</td>
      <td>BeQuanFRIvoedin</td>
      <td>38</td>
      <td>0.6</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Hippe huiskip maakte nog nooit zoveel Amerikan...</td>
      <td>twitter</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5</th>
      <td>ziek src:twitter</td>
      <td>2017-09-14 10:19</td>
      <td>https://twitter.com/BillyBibixx/status/9082436...</td>
      <td>-</td>
      <td>post</td>
      <td>NaN</td>
      <td>775.0</td>
      <td>BillyBibixx</td>
      <td>775</td>
      <td>5.3</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Ik ga naar huis, dit is echt kut</td>
      <td>twitter</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6</th>
      <td>ziek src:twitter</td>
      <td>2017-09-14 10:18</td>
      <td>https://twitter.com/flemmishfan/status/9082436...</td>
      <td>-</td>
      <td>comment</td>
      <td>8.0</td>
      <td>NaN</td>
      <td>flemmishfan</td>
      <td>24</td>
      <td>1.3</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>@demorgen Mijn idee ook kinderen mogen zich ni...</td>
      <td>twitter</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7</th>
      <td>ziek src:twitter</td>
      <td>2017-09-14 10:17</td>
      <td>https://twitter.com/DockxGunter/status/9082433...</td>
      <td>+</td>
      <td>comment</td>
      <td>19.0</td>
      <td>NaN</td>
      <td>DockxGunter</td>
      <td>81</td>
      <td>6.2</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>@tinamieneke @Jesske3003 Ik ben redelijk ziek ...</td>
      <td>twitter</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>8</th>
      <td>ziek src:twitter</td>
      <td>2017-09-14 10:16</td>
      <td>https://twitter.com/CDADoesburg/status/9082430...</td>
      <td>-</td>
      <td>comment</td>
      <td>2.0</td>
      <td>299.0</td>
      <td>CDADoesburg</td>
      <td>299</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>RT @Gem_Doesburg: Chronisch ziek en/of gehandi...</td>
      <td>twitter</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>9</th>
      <td>ziek src:twitter</td>
      <td>2017-09-14 10:13</td>
      <td>https://twitter.com/mijzelf01/status/908242332...</td>
      <td>-</td>
      <td>comment</td>
      <td>11.0</td>
      <td>NaN</td>
      <td>mijzelf01</td>
      <td>1974</td>
      <td>36.6</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>@orthopeer @telegraaf dit heeft niks met z'n z...</td>
      <td>twitter</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [39]:
import re

re_clean = re.compile(r'(https?://\S+|@\S+)')
re_words = re.compile(r'(\w+)')

blacklisted_words = ['de',
                     'het', 
                     'een', 
                     'je', 
                     'is', 
                     'van', 
                     'en', 
                     'op', 
                     'dat', 
                     'in', 
                     'rt', 
                     'ik',
                     'ben',
                     'te',
                     'voor',
                     'maar',
                     'nog',
                     'hoe',
                     'die',
                     'zijn',
                     'zo',
                     'als',
                     'dit']


def clean_text(text: str):
    text = text.lower()
    text = re_clean.sub(' ', text)
    words = re_words.findall(text)
    return words


tweets = doc['bericht tekst'].map(clean_text)


words = {}
for tweet in tweets:
    for word in tweet:
        if word in blacklisted_words:
            continue
        try:
            words[word] += 1
        except KeyError:
            words[word] = 1
        

words = sorted(words.items(), key=operator.itemgetter(1))[::-1]
words[:10]

[('ziek', 9588),
 ('niet', 1930),
 ('eigenrisico', 886),
 ('al', 822),
 ('ook', 811),
 ('met', 807),
 ('eigen', 732),
 ('wat', 715),
 ('we', 714),
 ('worden', 706)]

In [31]:
word_frame = pd.DataFrame(words)
word_frame.to_csv('/home/rick/Downloads/words.csv')
word_frame

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>ziek</td>
      <td>9588</td>
    </tr>
    <tr>
      <th>1</th>
      <td>rt</td>
      <td>4636</td>
    </tr>
    <tr>
      <th>2</th>
      <td>de</td>
      <td>3302</td>
    </tr>
    <tr>
      <th>3</th>
      <td>ik</td>
      <td>2966</td>
    </tr>
    <tr>
      <th>4</th>
      <td>zijn</td>
      <td>2840</td>
    </tr>
    <tr>
      <th>5</th>
      <td>en</td>
      <td>2582</td>
    </tr>
    <tr>
      <th>6</th>
      <td>van</td>
      <td>2531</td>
    </tr>
    <tr>
      <th>7</th>
      <td>is</td>
      <td>2474</td>
    </tr>
    <tr>
      <th>8</th>
      <td>je</td>
      <td>2108</td>
    </tr>
    <tr>
      <th>9</th>
      <td>niet</td>
      <td>1930</td>
    </tr>
    <tr>
      <th>10</th>
      <td>een</td>
      <td>1915</td>
    </tr>
    <tr>
      <th>11</th>
      <td>op</td>
      <td>1767</td>
    </tr>
    <tr>
      <th>12</th>
      <td>het</td>
      <td>1694</td>
    </tr>
    <tr>
      <th>13</th>
      <td>dat</td>
      <td>1561</td>
    </tr>
    <tr>
      <th>14</th>
      <td>in</td>
      <td>1397</td>
    </tr>
    <tr>
      <th>15</th>
      <td>die</td>
      <td>1354</td>
    </tr>
    <tr>
      <th>16</th>
      <td>maar</td>
      <td>1297</td>
    </tr>
    <tr>
      <th>17</th>
      <td>nog</td>
      <td>1242</td>
    </tr>
    <tr>
      <th>18</th>
      <td>ben</td>
      <td>1237</td>
    </tr>
    <tr>
      <th>19</th>
      <td>voor</td>
      <td>1222</td>
    </tr>
    <tr>
      <th>20</th>
      <td>te</td>
      <td>1213</td>
    </tr>
    <tr>
      <th>21</th>
      <td>hoe</td>
      <td>1047</td>
    </tr>
    <tr>
      <th>22</th>
      <td>eigenrisico</td>
      <td>886</td>
    </tr>
    <tr>
      <th>23</th>
      <td>zo</td>
      <td>855</td>
    </tr>
    <tr>
      <th>24</th>
      <td>dit</td>
      <td>851</td>
    </tr>
    <tr>
      <th>25</th>
      <td>als</td>
      <td>839</td>
    </tr>
    <tr>
      <th>26</th>
      <td>al</td>
      <td>822</td>
    </tr>
    <tr>
      <th>27</th>
      <td>ook</td>
      <td>811</td>
    </tr>
    <tr>
      <th>28</th>
      <td>met</td>
      <td>807</td>
    </tr>
    <tr>
      <th>29</th>
      <td>eigen</td>
      <td>732</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>9890</th>
      <td>gelet</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9891</th>
      <td>hanina</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9892</th>
      <td>gekker</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9893</th>
      <td>binnenstad</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9894</th>
      <td>kán</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9895</th>
      <td>950</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9896</th>
      <td>30ste</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9897</th>
      <td>eindopbrengst</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9898</th>
      <td>doesburg</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9899</th>
      <td>handicapten</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9900</th>
      <td>chronisch_zieken</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9901</th>
      <td>emotioneel</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9902</th>
      <td>nuon</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9903</th>
      <td>opmerkingen</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9904</th>
      <td>rondloop</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9905</th>
      <td>graftakken</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9906</th>
      <td>colk</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9907</th>
      <td>zielloos</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9908</th>
      <td>gedeelte</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9909</th>
      <td>uberhaupt</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9910</th>
      <td>consorten</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9911</th>
      <td>vertrouwgeenpolitie</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9912</th>
      <td>coruot</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9913</th>
      <td>veroordeelde</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9914</th>
      <td>bevoordeeld</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9915</th>
      <td>pijnstillers</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9916</th>
      <td>goedgekeurd</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9917</th>
      <td>wroeten</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9918</th>
      <td>vacatures</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9919</th>
      <td>primeert</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
<p>9920 rows × 2 columns</p>
</div>